<app-header></app-header>

<ion-content>
  <ion-grid class="container">
    <ion-row>
      <ion-col size="12">
        <h1>Definições</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h3>Funções</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p>Função é uma regra que relaciona cada elemento de um conjunto (representado pela variável x) a um único elemento de outro conjunto (representado pela variável y). Para cada valor de x, podemos determinar um valor de y, dizemos então que “y está em função de x”.</p>
        <p>Conhecemos como lei de formação da função a fórmula que relaciona os elementos do domínio com os elementos do contradomínio. Por exemplo, seja f: R → R, com lei de formação f(x) = 2x, essa função recebe valores do domínio e relaciona-os com o seu dobro no contradomínio.</p>
        <p>Exemplo: f(1) = 2 · 1 = 2</p>
        <p>Dizemos que o número 1 no domínio tem como imagem o número 2 no contradomínio.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h3>Intervalos</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h4>Intervalos fechados</h4>
        <p>Os intervalos reais fechados englobam os números reais que delimitam sua existência. Seria, por exemplo, o intervalo entre 10 e 25 com a inclusão desses dois valores na contagem. Na representação gráfica será:</p>
        <img src="/WebQuest/assets/img/intervalos/intervalo-fechado.png" alt="Intervalo fechado">
        <p>As bolinhas pintadas em preta representam a existência dos valores 10 e 25 na sequência intervalar. A linha marcada em preto entre os dois números demonstra a continuidade e infinitude de valores no intervalo.</p>
        <p>(x ∊ lR | 10 ≤ x ≤ 25) — lê-se “x pertence aos reais tal que x seja maior ou igual a 10 e menor ou igual a 25”. </p>
        <p>Além disso, os colchetes podem ser utilizados para fazer essa representação: [10;25]. Nesse caso, quando o colchete está virado “para dentro” do número, esse valor está incluso no intervalo.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h4>Intervalos semiabertos</h4>
        <p>Os intervalos reais semiabertos são aqueles em que pelo menos um dos valores delimitadores não estão incluídos no subgrupo. Se, por exemplo, deseja-se representar o intervalo real entre 5 e 7, sem que o 7 esteja incluso, a descrição pode ser feita da seguinte maneira:</p>
        <img src="/WebQuest/assets/img/intervalos/intervalo-semiaberto.png" alt="Intervalo semiabertos">
        <p>Note que a bolinha que demarca o número 7 não está pintada. Essa é a representação gráfica da não inclusão de um valor no intervalo real. Na descrição numérica seria:</p>
        <p>(x ∊ lR | 5 ≤ x < 7) que se lê “x pertence aos reais tal que x seja maior ou igual a 5 e menor que 7”.</p>
        <p>Observe que a diferença da notação está na troca do “≤” por “<”, o que exclui o valor 7 do intervalo. Nos colchetes temos que: [5;7[, em que o colchete aberto indica o não pertencimento de 7.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h4>Intervalos abertos</h4>
        <p>Os intervalos reais abertos acontecem quando os dois valores extremos não estão inclusos no intervalo. Na mesma lógica do que aprendemos até aqui, observe a representação gráfica e matemática:</p>
        <img src="/WebQuest/assets/img/intervalos/intervalo-aberto.png" alt="Intervalo abertos">
        <p>Como demonstra a reta real com a marcação do intervalo, nem 4 e nem 9 estão incluídos na delimitação. De forma que (x ∊ lR | 4 < x < 9), ou seja, “x pertence aos reais tal que x seja maior que 4 e menor que 9”. Ou ainda ]4;9[.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h3>Determinação de um domínio de uma função</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p>Dada uma função qualquer, o domínio é formado pelos valores que o x pode assumir. Na maioria das vezes, trabalhamos a função que vai de R em R, ou seja, o domínio é o conjunto dos números reais e o contradomínio também, entretanto, pode ser que haja algumas restrições para o domínio.</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
