ion-grid {
  background-color: var(--azul-escuro);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  h2{
    cursor: pointer;
    color: white;
  }
  h2:hover {
    text-decoration: underline;
    color: rgba(222, 222, 222, 0.897);
  }
}
