  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h2 (click)="navegarPagina('inicio')">Início</h2>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h2 (click)="navegarPagina('videos')">Vídeos</h2>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h2 (click)="navegarPagina('historia')">História</h2>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h2 (click)="navegarPagina('definicoes')">Definições</h2>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h2 (click)="navegarPagina('definicoes-calculo')">Conceitos</h2>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h2 (click)="navegarPagina('sobre')">Sobre</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
