<app-header></app-header>

<ion-content>
  <ion-grid class="container">
    <ion-row>
      <ion-col size="12">
        <h1>História</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>A palavra Cálculo vem do latim calculus, que significa pedregulho e é uma reminiscência da técnica primitiva
          de executar operações matemáticas simples por meio de pequenas pedras. Calculi eram as pessoas que contavam,
          calculones os professores. Escravos que tinham a função de contadores eram chamados de calculatores enquanto
          homens livres com a mesma tarefa recebiam a designação de numerarii.</p>
        <p>O Cálculo, como o estudo das operações de diferenciação e integração, é o nome de um sistema ou método
          desenvolvido independentemente em grande parte por Newton e Leibniz no século XVII. O termo cálculo foi usado
          pela primeira vez por Leibniz em seu livro publicado em 1680, Os Elementos de um novo Cálculo das Diferenças e
          Somas, Tangentes e Quadraturas, Máximos e Mínimos, Medidas de Linhas, Superfícies e Sólidos e outras coisas
          que transcendem o cálculo usual.</p>

        <h2>Isaac Newton (1642-1727)</h2>
        <p>Newton nasceu em Woolsthorpe, na Inglaterra. Em 1661 ele foi admitido no Trinity College, em Cambridge, com
          certa deficiência em geometria. Foi graças à orientação de Isaac Barrow, um premiado matemático e professor,
          que Newton enveredou pelos caminhos da matemática e das ciências em geral. Fugindo da peste negra que se
          alastrava por Londres, Newton refugiou-se na sua terra natal, durante os anos 1665 e 1666. Naquele período,
          ele delineou o que viria a ser o arcabouço da ciência moderna - ele descobriu o Cálculo, reconheceu os
          princípios subjacentes ao movimento dos corpos do sistema planetário, conjecturou a existência da força
          gravitacional e determinou que a luz solar branca é composta de todas as outras cores, indo do vermelho ao
          violeta.</p>
        <p>Voltando a Cambridge, em 1667, obteve o grau de mestre, tornando-se então professor no Trinity College. Dois
          anos depois, ele ocupou a cadeira que era do professor Barrow, e, a partir de então, um turbilhão de
          criatividade tomou conta do seu espírito investigativo. Para se ter uma idéia, foi nesse período que ele
          obteve uma formulação para a lei da gravidade, usando-apara explicar os movimentos da lua, dos planetas e das
          marés. Foi ainda por essa época que ele formulou as leis básicas da ótica, da termodinâmica e da
          hidrodinâmica, projetou e construiu o primeiro telescópio da era moderna.</p>

        <img src="/assets/img/isaacnewton.jpg" alt="Isaac Newton">

        <h2>Gottfried Wilhelm Leibniz (1646-1716)</h2>
        <p>Leibniz nasceu em Leipzig, na Alemanha. Um dos traços mais marcantes desua vida foi a maestria com que ele
          abraçou várias áreas do conhecimento, indo do Direito à Matemática, passando pela Filosofia, pela História e
          pela Literatura. Seus estudos superiores sistemáticos tiveram início quando, aos 15 anos de idade, ingressou
          na Universidade de Leipzig para cursar Direito. Aos 20, doutorou-se nesta matéria, pela Universidade de
          Altdorf.</p>
        <p>Como diplomata, Leibniz teve oportunidade de travar contato com eminentes matemáticos e cientistas de vários
          países, de quem recebeu decisivo estímulo para prosseguir no seu autodidatismo em matemática. Dentre tais
          incentivadores, vale destacar o importante papel ocupado pelo físico Christian Huygens.</p>

        <img src="/assets/img/leibniz.jpg" alt="Gottfried Wilhelm Leibniz">

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>