<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="container">
      <ion-col size="12">
        <h1>Introdução</h1>
      </ion-col>
    </ion-row>

    <ion-row class="container">
      <ion-col size="12">
        <p>Cálculo é uma área da matemática que se dedica ao estudo de taxas de variação. A partir desses estudos, é
          possível montar diferentes gráficos a partir de um conjunto de dados, facilitando sua examinação e propondo
          uma análise mais precisa.</p>
        <p>O Cálculo é uma ferramenta indispensável em diversos campos do conhecimento, desde a física e engenharia até
          a economia e ciências biológicas. Por meio da análise de conceitos como limite, derivada e integral, somos
          capazes de compreender e modelar fenômenos complexos do mundo real, ampliando assim nossa capacidade de
          compreensão e resolução de problemas.</p>
        <p>Diante disso, esse presente trabalho busca reunir uma variedade de recursos que visam enriquecer o
          aprendizado e proporcionar uma compreensão mais profunda e
          abrangente dos temas abordados no estudo do Cálculo.
        </p>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>