<app-header></app-header>

<ion-content>
  <ion-grid class="container">
    <ion-row>
      <ion-col size="12">
        <h1>Conceitos</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2>Limite</h2>
        <p>A definição de limite é utilizada no intuito de expor o comportamento de uma função nos momentos de aproximação de determinados valores. O limite de uma função possui grande importância no cálculo diferencial e em outros ramos da análise matemática, definindo derivadas e continuidade de funções.</p>
        <p>Dizemos que uma função f(x) tem um limite A quando x → a (→: tende), isto é: lim f(x) = A, quando x → a. Se, tendendo x para o seu limite, de qualquer maneira, sem atingir o valor a, o módulo de f(x) – A se torna e permanece menor que qualquer valor positivo, predeterminado, por menor que seja.</p>

        <h5 style="font-weight: bold;">Teoremas:</h5>
        <p>1 – O limite da soma de duas ou mais funções de mesma variável deve ser igual à soma dos seus limites.</p>
        <p>2 – O limite do produto de duas ou mais funções de mesma variável deve ser igual a multiplicação de seus limites.</p>
        <p>3 – O limite do quociente de duas ou mais funções de mesma variável deve ser igual à divisão de seus limites, ressaltando que o limite do divisor seja diferente de zero.</p>
        <p>4 – O limite da raiz positiva de uma função é igual à mesma raiz do limite da função, lembrando que esta raiz precisa ser real.</p>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2>Derivada</h2>
        <p>Seja 𝑓′(𝑝) a derivada da função 𝑓 em 𝑥 = 𝑝. Se considerarmos uma pequena variação de 𝑥 onde 𝑥 = 𝑝 + ℎ, então fazer 𝑥 se aproximar de 𝑝 é o mesmo que fazer ℎ tender a zero. Em outras palavras:</p>
        <img src="/WebQuest/assets/img/derivada-funcao.jpg" alt="">
        <p>Existem diversas notações para a derivada de uma função. Porém, todas elas no final, representam a mesma coisa.</p>

        <h5 style="font-weight: bold;">Equação da reta tangente:</h5>
        <p>A reta tangente à curva y = f(x) em (X0, f(x0)) é definido por:  </p>
        <p>Tx0: y-f(x0) = f'(x0) (x - x0) </p>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2>Primitiva de uma função</h2>
        <p>Uma função F(x) é chamada de primitva da função f(x) se, e somente se, F'(x) = f(x)</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2>Integral Indefinida</h2>
        <p>Se F(x) é primitiva de f(x), a expressão F(x) + c é chamada de integral indefinida da função f(x), que será denotado por: </p>
        <p>∫f(x) dx = F(x) + c</p>
        <p>Pode-se dizer que a integral é o processo inverso da derivada.</p>

        <h5 style="font-weight: bold;">Propriedades:</h5>
        <p>1 – ∫(f(x) + g(x)) dx = ∫f(x) dx + ∫g(x) dx</p>
        <p>2 – ∫c f(x) dx = c ∫f(x) dx</p>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2>Integral Definida</h2>
        <p>A área Af da região sob a curva de f de a até b é dado por: </p>
        <img src="/WebQuest/assets/img/integral-definida.jpg" alt="">
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
