/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
    --azul-escuro: #003f63; /* Um azul escuro profundo */
    --azul-petroleo: #00788c; /* Um azul petróleo */
    --azul-turquesa: #00a8a8; /* Um azul turquesa */
    --azul-claro: #a1e6e3; /* Um azul claro */
    --azul-mais-claro: #e8fffe; /* Um azul muito claro, quase branco */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: black;
    }

    * {
        box-sizing: border-box;
        font-family: "Bahnschrift", sans-serif;
        //sugira uma fonte padrão para o projeto

    }

    ion-content, body {
        font-size: 14px;
        overflow-x: hidden;
        --background: var(--azul-mais-claro) !important;
    }

    .container {
        width: 100% !important;
        max-width: 1440px !important;
        padding: 0 60px;
        margin: 0 auto;
    }

    h1 {
        font-size: 50px;
        font-weight: 700;
    }

    h4 {
        font-weight: 300;
    }

}
