<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="container">
      <ion-col size="12">
        <h1>Vídeos</h1>
      </ion-col>
    </ion-row>
    <ion-row class="container">
      <ion-col>
        <div class="listagem-videos">
          <app-card-video titulo="Intervalos Reais" descricao="Definições sobre intervalos reais com exemplos" urlVideo="https://www.youtube.com/watch?v=91bHG8BD2Tg"></app-card-video>
          <app-card-video titulo="Domínio de uma função real" descricao="Vídeo sobre domínio de uma função, demonstrando o contexto com exemplos" urlVideo="https://www.youtube.com/watch?v=wPesFG0cG7g"></app-card-video>
          <app-card-video titulo="Definição de Limite" descricao="Explicação da definição de limite de uma função" urlVideo="https://www.youtube.com/watch?v=voBexx2V7gw"></app-card-video>
          <app-card-video titulo="Limites de uma função - Cálculos" descricao="Vídeo sobre o limite de uma função em diferentes casos" urlVideo="https://www.youtube.com/watch?v=U-5vck_1hjE"></app-card-video>
          <app-card-video titulo="Derivada - Definição e Cálculo" descricao="Explicação sobre o conceito de derivada com cálculo de exemplos" urlVideo="https://www.youtube.com/watch?v=cWBEMN75IMc"></app-card-video>
          <app-card-video titulo="Primitivas de funções - O que é uma Primitiva?" descricao="Explicação sobre o conceito de primitiva de uma função" urlVideo="https://www.youtube.com/watch?v=7I8aLvGpa84"></app-card-video>
          <app-card-video titulo="Integral Indefinida" descricao="Vídeo sobre o conceito de integral indefinida" urlVideo="https://www.youtube.com/watch?v=1kXw5mvJSfw"></app-card-video>
          <app-card-video titulo="Integral Indefinida - Exercícios resolvidos" descricao="Resolução de exercícios envolvendo integral indefinida" urlVideo="https://www.youtube.com/watch?v=-guXJsi1_pQ"></app-card-video>
          <app-card-video titulo="Integral Definida" descricao="Vídeo sobre o conceito de integral definida" urlVideo="https://www.youtube.com/watch?v=cx8TtHYsNzU"></app-card-video>
          <app-card-video titulo="Integral Definida - Exercícios resolvidos" descricao="Resolução de exercícios envolvendo integral definida" urlVideo="https://www.youtube.com/watch?v=9m9GrXAFuEw"></app-card-video>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
