<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="container">
      <ion-col size="12">
        <h1>Vídeos</h1>
      </ion-col>
    </ion-row>
    <ion-row class="container">
      <ion-col>
        <div class="listagem-videos">
          <app-card-video titulo="Teste" descricao="desc" urlVideo="https://www.youtube.com/watch?v=dQw4w9WgXcQ"></app-card-video>
          <app-card-video titulo="Teste" descricao="desc" urlVideo="https://www.youtube.com/watch?v=dQw4w9WgXcQ"></app-card-video>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
